<nav class="navbar navbar-expand-lg  ">
    <div class="container-fluid ">
      <a class="navbar-brand " href="#"><i class="far fa-circle-user fs-1"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active fs-1 mb-3" aria-current="page" href="#">Help Desk</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <img src="../assets/img/user.jpg" class="  rounded-circle mx-2 mt-2"  height="50px" width="50px" alt="">
          <p class="mt-4 fw-noraml fs-4 mx-2  ">Welcome Reza Dorrain</p>
          <button class="btn btn-primary fs-4 mx-2 px-4" type="submit" (click)="addTicket()"> New Ticket </button>
        </form>
      </div>
    </div>
  </nav>
  
  
  <ul class="nav navBox " style="background-color: #dbd6c9;">
    <li class="nav-item   ">
      <i class="far fa-circle-user  "></i>
      <a class="nav-link active" aria-current="page" routerLink="allTicket"  routerLinkActive="active-link" >All Tickets</a>
    </li>
    <li class="nav-item">
     <i class='far fa-address-book'></i>
     <a class="nav-link" routerLink="allTicket">My Tickets</a>
    </li>
    <li class="nav-item">
      <i class='far fa-address-card'></i>
      <a class="nav-link"  routerLink="assigned">Assigned to Me</a>
    </li>
    <li class="nav-item">
      <i class='far fa-clock'></i>
      <a class="nav-link" routerLink="overdue">Overdue Tickets</a>
    </li>
    <li class="nav-item">
      <i class='fas fa-circle-info'></i>
      <a class="nav-link" href="#">Inforamtion</a>
    </li>
    
  </ul>
  
  <router-outlet></router-outlet>