.all{
    background-color: black;
    color: aliceblue;

    
}

.pending{
    background-color: orange;
    color: aliceblue;
}

.close{
    background-color: green;
    color: aliceblue;
}
.reject{
    background-color: red;
    color: aliceblue;

}

.duplicate{
    background-color: grey;
    color: aliceblue;

}