.all{
    background-color: black;
    color: aliceblue;

    
}

.pending{
    background-color: orange;
    color: aliceblue;
}

.close{
    background-color: green;
    color: aliceblue;
}
.reject{
    background-color: red;
    color: aliceblue;

}

.duplicate{
    background-color: grey;
    color: aliceblue;

}

.high{
    background-color: rgb(255, 123, 0);
    color: aliceblue;


}

.normal{
    background-color: rgb(0, 17, 250);
    color: aliceblue;


}

.medium{
    background-color: rgb(139, 78, 78);
    color: aliceblue;

}