<div class="cont">
 
  
    <!-- card section -->
    <div class="row">
      <div class="col-2 mx-1">
        <button class="btn btn-outline-dark w-100" (click)="allTicketData()" >All</button>
        <button class="btn btn-outline-warning w-100" (click)="pendingTickeItem()" >Pending</button>
        <button class="btn btn-outline-success w-100" (click)="closeTickeItem()" >Closed</button>
        <button class="btn btn-outline-danger w-100" (click)="rejectTickeItem()" >Rejected</button>
        <button class="btn btn-outline-secondary w-100" (click)="duplicateTickeItem()" >Duplicate</button>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-4 " *ngFor="let data of ticketData">
            <section class="my-4 px-3 py-3 border bg-white shadow"  >
              <h4 class="m-0">{{data.title}}</h4>
              <button class="btn  rounded-5 me-2 px-4 py-0 " [ngClass]="{all:data.status=='all',pending:data.status =='Pending',close:data.status=='Closed',reject:data.status=='Reject',duplicate:data.status=='Duplicated'}">{{data.status}}</button>
              <button class="btn btn-warning rounded-5  mx-2  px-4 py-0" >High</button>
              <div class="d-flex">
                <img src="../assets/img/user.jpg"  width="20px" height="20px" alt="">
                <h4 class=" mx-2">Rexa Dorrani</h4>
              </div>
              <div class="d-flex justify-content-between">
                <p> <i class='far fa-calendar mx-2'></i>{{data.dueDate}}</p>
                <p><i class="fa-solid fa-bottle-droplet"></i> 23</p>
              </div>
            </section>
          </div>


      </div>
    
    </div>
    
    
  </div>